.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  outline: none;
}

.formWrapper {
  padding: 20px;
  border-radius: 8px;
  background-color: #ecffec;
}

.form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  font-weight: 500;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formInput {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
  padding: 10px;
}

.confContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ecffec;
}

.btnWrapper {
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: red;
}
