.container {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  box-shadow: 1px 1px 5px gray;
  border-radius: 8px;
}

label {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formInput {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
  padding: 10px;
  &:focus {
    outline: none;
    border-color: #388e36;
  }
}

.text {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.linkWrapper {
  transition: all 0.2s linear;
  &:hover {
    transform: scale(1.05);
  }
}

.link {
  color: #388e36;
  text-decoration: none;
}

.error {
  color: red;
}
