body {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ecffec;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  border-radius: 8px;
  border: 1px solid rgb(199, 199, 199);
  background-color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background-color: #81bf80;
    border: none;
    transform: scale(1.05);
  }
}
